{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}


{%  block content_title %} tableau de bord  {% endblock %}
{% block main %}
    <h3>bienvenue</h3>
{% endblock  %}