{% extends 'base.html.twig' %}

{% block title %}Edit HoraireOuverture{% endblock %}

{% block body %}
    <h1>Edit HoraireOuverture</h1>

    {{ include('horaire_ouverture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_horaire_ouverture_index') }}">back to list</a>

    {{ include('horaire_ouverture/_delete_form.html.twig') }}
{% endblock %}
