{% extends 'base.html.twig' %}

{% block title %}New HoraireOuverture{% endblock %}

{% block body %}
    <h1>Create new HoraireOuverture</h1>

    {{ include('horaire_ouverture/_form.html.twig') }}

    <a href="{{ path('app_horaire_ouverture_index') }}">back to list</a>
{% endblock %}
